# Required Vars
API_HASH=037a7d292e8183c969b0ae3aeb0ab391
API_ID=32410814
BOT_TOKEN=8629517043:AAE9MzPf5n4YzOSDMTpI0Oqj8ieNgiBRe-4
DATABASE_URI=mongodb+srv://carelessxcoder92:carelessxcoder92@cluster0.1vpnsfz.mongodb.net/?appName=Cluster0
LOG_CHANNEL=-1003598398007

# Optional Vars
SUDO=617426792
DATABASE_NAME=MissKatyDB
SUPPORT_CHAT=YasirPediaChannel
COMMAND_HANDLER=
USER_SESSION=
OPENAI_API=
GOOGLEAI_API=AIzaSyBwEG38m2pNojkOKrSoaxBKdqUwn2zEBsE
CURRENCY_API=
